<%- include ("partials/header") %>

    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-4">Willkommen bei Eurocentric!</h1>
            <p class="lead">Diese Seite ist eine Vorschau von ausgewählten Javascript Technologien.</p>
            <hr class="my-4">
            <p>Eurocentric wird kontinuierlich aufgebaut und erweitert.</p>
        </div>
    </div>

<%- include ("partials/footer") %>